* { border: 0; padding: 0; margin: 0; }
body {background: #c0deed url(http://s.twimg.com/images/bg-clouds.png) repeat-x; color: #333; font: 12px Lucida Grande, Arial, sans-serif; text-align: left;}

div, h1, h2, h3, h4, h5, h6, p {clear: both; display: block; padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6, p {clear: both; display: block; padding: 0 0 8px 0; margin: 0; color: #000; vertical-align: top;}
a img {border: none;}

/* template css */
.c:after {content: "."; clear: both; display: block; visibility: hidden; height: 0;}
.left {clear: none; float: left;}
.right {clear: none; float: right;}
.rel {position: relative;}
.abs {position: absolute;}
.hide {display: none;}
.block {display: block;}
.inblock {display: inline-block;}
.inline {display: inline;}

.round {border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
.round-tl {border-radius-topleft: 5px; -moz-border-radius-topleft: 5px; -webkit-border-radius-topleft: 5px;}
.round-tr {border-radius-topright: 5px; -moz-border-radius-topright: 5px; -webkit-border-radius-topright: 5px;}
.round-bl {border-radius-bottomleft: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-radius-bottomleft: 5px;}
.round-br {border-radius-bottomright: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-radius-bottomright: 5px;}

.header {font-family: Helvetica Neue, Helvetica, Arial, sans-serif;}
p.suggest {text-align: center; padding: 30px 20px; font-size: 15px;}

.nav {background: #fff; padding: 8px 0; text-align: center;}
.nav ul, .nav ul li {margin: 0; padding: 0; display: inline; list-style: none;}
.nav ul li {padding: 0 3px;}

table, table th, table tr, table td {width: 100%; margin: 0; padding: 0; border: none; text-align: left; vertical-align: top; border-collapse: collapse;}

.rss.inblock {background: url(http://s.twimg.com/a/1259091217/images/rss.gif) 0 1px no-repeat; padding-left: 20px; min-height: 17px;}

a {color: #2276bb; text-decoration: none;}
a:hover {color: #2276bb; text-decoration: underline;}


#container {width: 763px; margin: 0 auto; padding: 0 0 16px 0;}

#header {padding: 12px 0 0 0; text-align: left;}
#header #nav {top: 12px; right: 0; padding: 8px;}

#notice {margin: 41px 0 12px 0; border: 1px solid #ffff00; background: #ffffdf; padding: 20px;}
#notice .bird {width: 48px; height: 48px; top: -41px; left: 0;}
#notice h1 {font-weight: normal; font-size: 26px;}
#notice p {font-size: 16px;}
#notice .left {width: 495px;}
#notice .right {width: 175px; margin: 0 0 0 50px;}
#notice .right a {display: block; background-color: #74CA00; font-size: 24px; color: #fff; font-weight: bold; margin: 20px 0 10px 0; padding: 10px; border: 1px solid #0f0; text-align: center;}
#notice .right a:hover {background-color: #8CF500; text-decoration: none;}

#content_area {margin: 12px 0 0 0; padding: 11px 0 0 0; background: url(../images/bubble_arrow.png) 25px 0 no-repeat;}
#content_area #content {width: 533px; padding: 15px; background-color: #ffffff;}
#content_area #sidebar {width: 199px; background-color: #daebf3; border-left: 1px solid #c0deed; padding: 6px 0;}


#content .user_titlebar {padding: 10px 10px 0 10px;}
#content .user_titlebar .avatar {width: 73px; height: 73px; margin: 0 10px 0 0;}
#content .user_titlebar h1.name {width: 430px; font-size: 34px; padding: 0;}
#content .titlebar {padding: 5px 13px 0 10px;}
#content .titlebar h1 {font-size: 22px; padding: 0; line-height: 22px;}
#content .section.header {font-weight: normal; padding: 0 0 3px 0; margin: 3px 0 4px 0; color: #444;}
#content h3 {font-size: 18px; line-height: 26px;}

#content_box {padding: 0 0 10px 0;}
#content_box textarea#tweet {border: 1px solid #aaa; width: 505px; padding: 4px 2px; height: 35px; font: 14px/16px Lucida Grande, Arial, sans-serif;}
#content_box fieldset {padding: 1px 0 0 10px;}
#content_box fieldset.buttons {padding: 5px 12px 0 10px;}
#content_box fieldset.buttons .left {width: 400px; color: #666; font-size: 11px; line-height: 16px;}
#content_box fieldset.buttons button {font-size: 14px; color: #666; background: #f0f0f0; padding: 6px 20px; text-transform: lowercase; border: 1px solid #d9d9d9; border-left-color: #ebebeb; border-top-color: #ebebeb; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; cursor: pointer;}
#content_box fieldset.buttons button:hover {background: #e3e3e3; color: #444; border-color: #b8b8b8; border-left-color: #d1d1d1; border-top-color: #d1d1d1;}
#content_box fieldset.buttons button[disabled], #content_box fieldset.buttons button.disabled {color: #aaa; border: 1px solid #d9d9d9; border-left-color: #ebebeb; border-top-color: #ebebeb; background: #f0f0f0; cursor: auto;}
#content_box #chars_left {font-size: 26px; line-height: 26px; color: #ccc; font-weight: 500; letter-spacing: -.03em; text-align: right;}
#content_box #chars_left .warm {color: #5c0002;}
#content_box #chars_left .hot {color: #d40d12;}

#content_body {padding: 6px 10px;}

#content_body p.suggest {border-top: 1px solid #eee;}

#content_body #user_stream {border-top: 1px solid #eee;}
#content_body .status {border-bottom: 1px solid #eee; padding: 10px 0 8px 0;}
#content_body .status:hover {background: #f7f7f7;}
#content_body .avatar.left {width: 48px; margin: 0 8px 0 0;}
#content_body .info.left {width: 444px; font-size: 14px;}
#content_body .info .tweet {width: 425px;}
#content_body .status .details {color: #999; font-size: 11px; min-height: 15px; padding: 3px 0 0 0;}
#content_body .status .details a {color: #999;}
#content_body .status .details a:hover {color: #999; text-decoration: underline;}
#content_body .status .details .right {display: none;}
body.logged_in #content_body .status:hover .details .right {display: block;}
#content_body .status .details .right dd {height: 15px;}
#content_body .status .details .right a {color: #2276bb; text-decoration: none;}
#content_body .status .details .right a:hover {color: #2276bb; text-decoration: none;}
#content_body .status .details .right a:hover span.link {text-decoration: underline;}
#content_body .status .details .right .reply a span.link {padding: 1px 0 0 0; height: 14px; vertical-align: top;}
#content_body .status .details .right .reply a span.icon {display: inline-block; background: url(http://s.twimg.com/a/1260214487/images/sprite-icons.png) 0 0 no-repeat; width: 15px; height: 15px; margin: 0 1px 0 0;}
#content_body .status .details .right .reply a:hover span.icon {background-position: -16px 0;}


#sidebar .box {padding: 9px 0 10px 0; margin: 0 14px 0 14px; border-top: 1px solid #c0deed;}
#sidebar .box:first-child {border-top: none; padding-top: 3px;}
#sidebar .box dl dt {clear: both; float: none; width: 100%; padding: 0 0 4px 0;}
#sidebar .box dl dd {clear: both; float: none; width: 100%; padding: 2px 0;}
#sidebar .box dl dd.smaller {padding-top: 6px; font-size: 11px;}

#sidebar .box dl dd.photo {clear: none; float: left; width: 24px; height: 24px; padding: 3px 3px 3px 1px;}
#sidebar .box dl dd.photo img {width: 24px; height: 24px; overflow: hidden;}

#sidebar #account_lists.box dl dd {padding: 4px 0;}

#sidebar #account_info dl dd {padding: 0 0 2px 0;}

#sidebar #account_stats {padding: 8px 0 12px 0;}
#sidebar #account_stats a {width: 48px; font-size: 11px; padding: 0 0 0 8px;}
#sidebar #account_stats a:first-child {padding: 0;}
#sidebar #account_stats a:hover {text-decoration: none;}
#sidebar #account_stats a:hover span {text-decoration: underline;}
#sidebar #account_stats a .num {font-weight: bold; color: #333; font-size: 13px;}
#sidebar #account_stats a:hover .num {color: #2276bb;}

#sidebar #account_links {padding: 0 0 6px 0;}
#sidebar #account_links a.block {color: #2276bb; padding: 6px 14px; margin: 0 0 1px 0;}
#sidebar #account_links a.block:hover {color: #2276bb; text-decoration: none; background: #f7f7f7;}
#sidebar #account_links a.block.select {color: #333; font-weight: bold; background: #f7f7f7;}


#flash_msgs {margin: 4px 0 0 0;}
#flash_msgs p.flash {margin: 0 0 8px 0; border: 1px solid #ffff00; background: #ffffdf; padding: 10px;}

#footer {margin: 20px 0 0 0;}
