- get_recipient_info if @recipient_info.nil?

- if @recipient_info && !@recipient_info['status'].blank?
  %strong= configatron.latest
  = @recipient_info['status']['text']
  %span.timestamp= timestamp(@recipient_info['status'], false)