- unless !@error || @error.blank?
  %p.flash.error= @error

- unless configatron.require_oauth_login && @user.blank?
  .titlebar.c
    %h1.left Troll me!
    .right.chars= (140-(params[:tweet] || '').length)
    
  %form#tweet_box{:action => '/', :method => 'post'}
    %input{:type => 'hidden', :name => 'auth_token', :value => ''}

    %fieldset
      %label{:for => 'tweet'}
      %textarea#tweet{:name => 'tweet'}= params[:tweet]
    %fieldset.buttons.c
      .left
        %strong Latest:
        \- tweet here -
          
      %input.right{:type => 'submit', :value => configatron.button_submit}
